/** Home styles */
body {
    &.home {
        #app {
            /** Hide logo on top */
            #header {
                .brand {
                    @include transition;

                    visibility: hidden;
                    opacity: 0;

                    @include media-breakpoint-down(md) {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                &.scrolled {
                    .brand {
                        @include transition;

                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            #main {
                margin-top: 0;

                /** Top Banner */
                #top-banner {
                    min-height: 100vh;
                    position: relative;
                    
                    .image-block {
                        margin-bottom: 2rem;

                        .front-img {
                            max-width: 45%;

                            @include media-breakpoint-up(xxxl) {
                                max-width: 100%;
                            }

                            @include media-breakpoint-down(md) {
                                max-width: 100%;
                            }
                        }
                    }

                    .content-block {
                        @include text_size_36;
                        @include headings;

                        @include media-breakpoint-up(xxxl) {
                            @include text_size_48;
                        }

                        a {
                            letter-spacing: 1rem;
                            text-indent: -0.85rem;
                            direction: rtl;
                            text-align: left;
                            display: inline-block;
                            overflow: hidden;
                        }
                    }

                    .background-block {
                        position: absolute;
                        inset: 0;
                        z-index: 0;
                        overflow: hidden;

                        &::before {
                            content: '';
                            position: absolute;
                            inset: 0;
                            z-index: 1;
                            opacity: 0.5;
                            overflow: hidden;
                            background-image: radial-gradient($black 1px, transparent 0);
                            background-size: 10px 10px;
                            background-position: -5px -5px;
                        }
                        
                        .background-img {
                            opacity: 0.5;
                            margin-top: -15vh;

                            @include media-breakpoint-up(md) {
                                max-width: 100%;
                                height: auto;
                            }

                            @include media-breakpoint-down(md) {
                                margin-top: -45vh;
                                margin-left: -50vh;
                            }
                        }
                    }
                }

                #section-2 {
                    padding-top: 3rem;
                    padding-bottom: 3rem;
                    min-height: 100%;

                    #main-content {
                        #parallax-container {
                            .parallax-images {
                                position: relative;

                                .parallax-image {
                                    position: relative;
                                    transform: translateY(0);

                                    &:nth-child(3n+1) {
                                        margin-top: 0;
                                        margin-left: 0;

                                        @include media-breakpoint-down(md) {
                                            margin-top: 5vh;
                                            margin-left: 1rem;
                                        }
                                    }

                                    &:nth-child(3n+2) {
                                        margin-top: 40vh;
                                        margin-left: -15vh;

                                        @include media-breakpoint-between(xxl, xxxl) {
                                            margin-top: 50vh;
                                            margin-left: -15vh;
                                        }

                                        @include media-breakpoint-up(xxxl) {
                                            margin-top: 50vh;
                                            margin-left: -15vh;
                                        }
                                        
                                        @include media-breakpoint-down(md) {
                                            margin-top: 20vh;
                                            margin-left: -5vh;
                                        }

                                        @include media-breakpoint-down(xsm) {
                                            margin-left: -7.5vh;
                                        }
                                    }

                                    &:nth-child(3n) {
                                        margin-top: 5vh;
                                        margin-left: -15vh;

                                        @include media-breakpoint-between(xxl, xxxl) {
                                            margin-top: 5vh;
                                            margin-left: -25vh;
                                        }

                                        @include media-breakpoint-up(xxxl) {
                                            margin-top: 5vh;
                                            margin-left: -25vh;
                                        }

                                        @include media-breakpoint-down(md) {
                                            margin-top: 2.5vh;
                                            margin-left: -10vh;
                                        }
                                    }
                                }
                            }
                        }

                        #text-container {
                            @include media-breakpoint-down(md) {
                                margin-top: 3rem;
                                padding-left: 2rem;
                                padding-right: 2rem;
                            }

                            .text-block {
                                height: 100vh;
                                opacity: 0;

                                @include media-breakpoint-down(md) {
                                    height: auto;
                                }

                                h2 {
                                    @include text_size_24;
                                    @include headings;

                                    letter-spacing: 0.85rem;
                                    text-indent: -0.6rem;
                                    direction: rtl;
                                    text-align: left;
                                    display: inline-block;
                                    overflow: hidden;

                                    @include media-breakpoint-up(xxxl) {
                                        @include text_size_36;
                                    }
                                }
                            }
                        }
                    }
                }

                #section-3 {
                    #closing-content {
                        @include text_size_36;
                        @include headings;

                        text-align: center;
                        margin-top: 3rem;
                        z-index: 1;

                        @include media-breakpoint-up(xxxl) {
                            @include text_size_48;
                        }

                        a {
                            letter-spacing: 1rem;
                            text-indent: -0.85rem;
                            direction: rtl;
                            text-align: left;
                            display: inline-block;
                            overflow: hidden;
                        }
                    }

                    #carousel-container {
                        .carousel-inner {
                            .carousel-item {
                                &.active {
                                    display: flex;
                                }

                                > div {
                                    @include media-breakpoint-down(md) {
                                        display: none;
                                    }

                                    &:first-child {
                                        @include media-breakpoint-down(md) {
                                            display: block;
                                        }
                                    }
                                }

                                a {
                                    &:hover {
                                        &::after {
                                            content: none;
                                        }
                                    }
                                }
                            }

                            .carousel-item-next {
                                display: flex;

                                @include media-breakpoint-up(md) {
                                    transform: translateX(25%);
                                }
                            }
                            
                            .carousel-item-prev {
                                display: flex;

                                @include media-breakpoint-up(md) {
                                    transform: translateX(-25%);
                                }
                            }

                            .carousel-item-end {
                                transform: translateX(0);

                                &.active {
                                    @include media-breakpoint-up(md) {
                                        transform: translateX(25%);
                                    }
                                }
                            }

                            .carousel-item-start {
                                transform: translateX(0);

                                &.active {
                                    @include media-breakpoint-up(md) {
                                        transform: translateX(-25%);
                                    }
                                }
                            }
                        }
                    }
                    
                    #carousel-toggle {
                        margin-top: 2rem;

                        .carousel-prev,
                        .carousel-next {
                            @include text_size_24;

                            width: 3rem;
                            height: 3rem;
                            padding: 0.5rem;
                            border-radius: 3rem;
                            border: 1px solid $white;
                            text-align: center;

                            @include media-breakpoint-up(xxxl) {
                                @include text_size_36;

                                width: 4rem;
                                height: 4rem;
                                border-radius: 4rem;
                            }

                            svg {
                                fill: $white;

                                path {
                                    fill: $white;
                                }
                            }

                            &:hover {
                                &::after {
                                    content: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /** If logged in */
    &.logged-in {
        #app {
            #main {
                #top-banner {
                    min-height: calc(100vh - 32px);

                    @include media-breakpoint-down(wpmd) {
                        min-height: calc(100vh - 46px);
                    }
                }
            }
        }
    }
}