/** Shop page styles */
body {
    &.woocommerce.archive {
        #app {
            #main {
                padding: 2rem 0;

                #products-container {
                    .products {
                        margin: 0 auto;
                        clear: both;
                        flex: 0 0 50%;
                        order: 1;

                        .product {
                            margin: 0;
                            float: none;
                            clear: none;
                            width: auto;
                            flex: 0 0 50%;
                            box-shadow: 0 0 1px 1px $dark_grey;

                            &.featured {
                                clear: none;
                                flex: 0 0 100%;
                            }

                            .woocommerce {
                                &-LoopProduct-link {
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: center;

                                    &::after {
                                        content: none;
                                    }

                                    .attachment-woocommerce {
                                        &_thumbnail {
                                            @include transition;

                                            opacity: 1;
                                            margin: 0;
                                        }
                                    }

                                    .inner-content {
                                        @include transition;

                                        opacity: 0;

                                        .price {
                                            @include bold-font;

                                            color: $white;
                                        }
                                    }

                                    &:hover {
                                        .attachment-woocommerce {
                                            &_thumbnail {
                                                @include transition;

                                                opacity: 0.25;
                                            }
                                        }

                                        .inner-content {
                                            @include transition;
                                            
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }

                        &.not-featured {
                            order: 1;
                        }

                        &:nth-child(4n) {
                            order: 2;
                        }

                        &:nth-child(5n) {
                            order: 1;
                        }
                    }
                }
            }
        }
    }

    &.single-product {
        #app {
            #main {
                padding: 2rem 0;

                .woocommerce-notices {
                    &-wrapper {
                        .woocommerce-message {
                            .button {
                                @include button-alt;

                                border-radius: 0;
                            }
                        }
                    }
                }

                .product {
                    .images {
                        width: auto;
                        flex: 0 0 50%;
                        padding: 0;
                    }

                    .summary {
                        width: auto;
                        flex: 0 0 50%;
                        padding-left: 5rem;

                        .price-area {
                            .price {
                                @include bold-font;

                                color: $white;
                            }

                            .cart {
                                margin-bottom: 0;
                                display: flex;
                                flex-direction: column;

                                .quantity {
                                    margin: 0;
                                    border: 1px solid $white;
                                    display: flex;

                                    .qty {
                                        @include text_size_36;

                                        width: 100%;
                                        background-color: $black;
                                        color: $white;
                                        border: none;
                                        appearance: textfield;

                                        &::-webkit-outer-spin-button,
                                        &::-webkit-inner-spin-button {
                                            appearance: none;
                                            margin: 0;
                                        }
                                    }

                                    .decrease,
                                    .increase {
                                        @include text_size_36;

                                        background-color: $black;
                                        color: $white;
                                        border: none;
                                        padding: 0 1rem;
                                    }
                                }

                                .button {
                                    @include button;
                                    @include headings;

                                    letter-spacing: 0.5rem;
                                    border: none;
                                    border-radius: 0;
                                    padding: 1rem 2rem;
                                    margin-top: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.cart {
        #app {
            #main {
                padding: 2rem 0;

                #container {
                    .wp-block {
                        &-woocommerce-cart {
                            .wc-block {
                                &-components-main {
                                    .wc-block {
                                        &-cart-items {
                                            thead {
                                                tr {
                                                    th {
                                                        @include headings;
                                                        @include text_size_18;
                                                        @include regular-font;
                                                    }
                                                }
                                            }

                                            tbody {
                                                tr {
                                                    td {
                                                        border-top-color: $dark_grey;

                                                        &.wc-block {
                                                            &-cart-item {
                                                                &__image {
                                                                    a {
                                                                        &:hover {
                                                                            &::after {
                                                                                content: none;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }

                                                        .wc-block {
                                                            &-components-quantity-selector {
                                                                border: 1px solid $white;
                                                                border-radius: 0;
                                                            }

                                                            &-cart-item__remove-link {
                                                                @include button;

                                                                padding: 0.25rem 0.5rem;
                                                                text-decoration: none;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                &-components-sidebar {
                                    .wp-block {
                                        &-woocommerce-cart-order-summary-block {
                                            .wc-block-cart {
                                                &__totals-title {
                                                    @include headings;
                                                    @include text_size_18;
                                                    @include regular-font;
                                                }
                                            }

                                            .wc-block {
                                                &-components-totals-wrapper {
                                                    &.wp-block {
                                                        &-woocommerce-cart-order-summary-coupon-form-block {
                                                            border-top-color: $dark_grey;

                                                            .wc-block {
                                                                &-components-totals-coupon__content {
                                                                    input {
                                                                        min-height: 100%;
                                                                        border: none;
                                                                        border-radius: 0;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .wc-block {
                                        &-components-button {
                                            @include button;

                                            &:hover {
                                                &::after {
                                                    content: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.checkout {
        #app {
            #main {
                padding: 2rem 0;

                #container {
                    form {
                        input {
                            &[type="text"],
                            &[type="tel"],
                            &[type="email"] {
                                border-radius: 0;
                                min-height: 100%;
                            }
                        }

                        select,
                        textarea {
                            border-radius: 0;
                        }

                        .wc-block {
                            &-components-radio-control--highlight-checked {
                                .wc-block {
                                    &-components-radio-control-accordion-option--checked-option-highlighted {
                                        border-radius: 0;
                                        box-shadow: inset 0 0 0 1px $dark_grey;
                                    }
                                }
                            }
                        }

                        button {
                            @include button;
                        }
                    }

                    .wc-block {
                        &-components-order-summary-item__quantity {
                            box-shadow: none;
                            background-color: $dark_grey;
                            color: $white;
                            border: none;
                        }
                    }
                }
            }
        }
    }

    &.my-account {
        #app {
            #main {
                padding: 2rem 0;
            }
        }
    }

    &.refund-returns {
        #app {
            #main {
                padding: 2rem 0;
            }
        }
    }
}