/** Other page styles */
body {
    &.cookie-policy {
        #app {
            #main {
                padding: 2rem 0;

                h2,h3,h4 {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &.terms-conditions {
        #app {
            #main {
                padding: 2rem 0;

                h2,h3,h4 {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &.privacy-policy {
        #app {
            #main {
                padding: 2rem 0;

                h2,h3,h4 {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}