#site-preloader {
  position: fixed;
  inset: 0;
  background: $black;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .6s ease;

  &.fade-out {
    opacity: 0;
    pointer-events: none;
  }
}

#loader-logo {
  width: 350px;
  height: auto;
  position: relative;

  .fill-layer {
    pointer-events: none;

    .cls-1 {
      fill: $white;
    }
  }

  .base-fill {
    .base-rect {
      fill: $link_grey;
    }
  }

  #wave {
    fill: $white;
    fill-opacity: 1;
    opacity: 1;
    filter: none;
    mix-blend-mode: normal;
  }

  .outline-layer {
    .cls-1 {
      fill: none;
      opacity: 1;
    }
  }
}