/** Footer styles */
#footer {
    #top-content {
        padding-left: 9rem;
        padding-right: 9rem;

        @include media-breakpoint-down(ml) {
            padding-left: 0;
            padding-right: 0;
        }

        #site-map {
            @include text_size_18;

            @include media-breakpoint-up(xxxl) {
                @include text_size_24;
            }
    
            #site-map-menu,
            #policies-menu {
                @include headings;
                
                letter-spacing: 0.1111rem;
                text-indent: -0.1111rem;
                direction: rtl;
                text-align: left;
                display: inline-block;
                overflow: hidden;
                flex-direction: column;
    
                .menu-item {
                    margin-bottom: 1rem;
    
                    &.current-menu-item {
                        text-decoration: underline;
                    }
                }
            }
        }
    
        #contact-info {
            @include text_size_24;

            @include media-breakpoint-up(xxxl) {
                @include text_size_36;
            }
    
            p {
                line-height: normal;
            }
    
            .text-2 {
                margin-bottom: 3rem;
            }

            .text-3 {
                margin-bottom: 1.5rem;
            }

            .social {
                @include color-transition;

                &.instagram {
                    &:hover {
                        @include color-transition;

                        color: $instagram;
                    }
                }

                &.facebook {
                    &:hover {
                        @include color-transition;

                        color: $facebook;
                    }
                }

                &.tiktok {
                    &:hover {
                        @include color-transition;

                        color: $tiktok;
                    }
                }
            }
        }
    }
    
    #bottom-content {
        #to-top {
            @include headings;
            
            letter-spacing: 0.125rem;

            a {
                &:hover {
                    text-decoration: none;
                }

                .fa-arrow-up {
                    margin-left: 1rem;
                }
            }
        }
    }
}