/** Footer styles */
#footer {
    #top-content {
        padding-left: 9rem;
        padding-right: 9rem;

        @include media-breakpoint-down(xl) {
            padding-left: 0;
            padding-right: 0;
        }

        #brand {
            @include media-breakpoint-down(lg) {
                text-align: center;
            }
        }

        /** Site map styles */
        #site-map {
            @include text_size_18;

            @include media-breakpoint-up(xxxl) {
                @include text_size_24;
            }

            @include media-breakpoint-down(lg) {
                margin-top: 1rem;
            }

            .menu-site-map-menu-container {
                @include media-breakpoint-down(lg) {
                    text-align: right;
                }

                @include media-breakpoint-down(md) {
                    text-align: left;
                }
            }

            #site-map-menu {
                @include media-breakpoint-down(lg) {
                    text-align: right !important;
                }

                @include media-breakpoint-down(md) {
                    text-align: left !important;
                }
            }
    
            #site-map-menu,
            #policies-menu {
                @include headings;
                
                letter-spacing: 0.1111rem;
                text-indent: -0.1111rem;
                direction: rtl;
                text-align: left;
                display: inline-block;
                overflow: hidden;
                flex-direction: column;
    
                .menu-item {
                    margin-bottom: 1rem;

                    a {
                        &:not(.button) {
                            color: $white;
                            text-decoration: none;
                            position: relative;
            
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 0;
                                height: 1px;
                                background-color: $white;
                                transition: 0.2s width ease-in-out;
                            }
                        
                            &:hover {
                                &::after {
                                    width: 100%;
                                    transition: 0.2s width ease-in-out;
                                }
                            }
                        }
                    }
    
                    &.current-menu-item {
                        &::after {
                            width: calc(100% - 1rem);
                        }
                    }
                }
            }
        }
    
        /** Contact info styles */
        #contact-info {
            @include text_size_24;

            @include media-breakpoint-up(xxxl) {
                @include text_size_36;
            }

            @include media-breakpoint-down(lg) {
                text-align: center;
            }

            @include media-breakpoint-down(md) {
                text-align: left;
            }
    
            p {
                line-height: normal;
            }
    
            .text-2 {
                margin-bottom: 3rem;

                @include media-breakpoint-down(lg) {
                    margin-bottom: 1rem;
                }
            }

            .text-3 {
                margin-bottom: 1.5rem;
            }

            .social {
                @include color-transition;

                &:hover {
                    &::after {
                        content: none;
                    }
                }

                &.instagram {
                    &:hover {
                        @include color-transition;

                        color: $instagram;
                    }
                }

                &.facebook {
                    &:hover {
                        @include color-transition;

                        color: $facebook;
                    }
                }

                &.tiktok {
                    @include filter-transition;

                    &:hover {
                        @include filter-transition;

                        color: $white;
                        filter: drop-shadow(1px 1px 0 #ff0050) drop-shadow(-1px -1px 0 #00f2ea);
                    }
                }
            }
        }
    }
    
    /** Bottom content styles */
    #bottom-content {
        #to-top {
            @include headings;
            
            letter-spacing: 0.125rem;

            @include media-breakpoint-down(lg) {
                align-content: center;
            }

            #scroll-to-top {
                @include color-transition;

                &:hover {
                    @include color-transition;

                    text-decoration: none;
                    color: $link_grey;

                    &::after {
                        content: none;
                    }
                }

                .fa-arrow-up {
                    margin-left: 1rem;
                }
            }
        }
    }
}