/** Header styles */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    z-index: 9999;

    /** Navigation styles */
    .navbar {
        padding-left: 3rem;
        padding-right: 3rem;

        #nav-container {
            @include headings;

            .navbar-nav {
                .menu-item {
                    a {
                        padding: 0 0.5rem;
                    }

                    /** Spacing for first two menu items */
                    &:nth-child(1),
                    &:nth-child(2) {
                        margin: 0 0.5rem;
                    }

                    /** Spacing for first icon item */
                    &:nth-child(3) {
                        margin-left: 0.5rem;
                    }

                    /** Kills padding on last menu item */
                    &:last-child {
                        a {
                            padding-right: 0;
                        }
                    }

                    /** Adds hover for icons */
                    &.icon {
                        a {
                            @include color-transition;

                            color: $white;

                            &:hover {
                                @include color-transition;

                                color: $link_grey;
                            }
                        }
                    }

                    /** Adds underline for current page */
                    &.current-menu-item {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    /** If logged in */
    body.logged-in & {
        margin-top: 32px;

        @include media-breakpoint-down(wpmd) {
            margin-top: 46px;
        }
    }
}

/** Admin bar */
#wpadminbar {
    @include media-breakpoint-down(wpmd) {
        position: fixed;
    }
}

