/** Header styles */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    z-index: 9999;

    /** Scrolled header styles */
    &.scrolled {
        .navbar {
            @include transition;

            background-color: $black;
        }
    }

    /** Navigation styles */
    .navbar {
        padding-left: 3rem;
        padding-right: 3rem;

        @include media-breakpoint-down(md) {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .brand {
            &:hover {
                &::after {
                    content: none;
                }
            }
        }

        .navbar-toggler {
            &:focus {
                border: none;
                box-shadow: none;
                outline: 0;
            }
        }

        #nav-container {
            @include headings;

            @include media-breakpoint-down(md) {
                padding-top: 1rem;
            }

            .navbar-nav {
                @include media-breakpoint-down(md) {
                    flex-direction: row;
                    justify-content: center;
                    font-size: 1.1112rem;
                }

                .menu-item {
                    a {
                        @include main-nav;

                        padding: 0 0.5rem;
                    }

                    /** Spacing for first two menu items */
                    &:nth-child(1),
                    &:nth-child(2) {
                        margin: 0 0.5rem;

                        @include media-breakpoint-down(md) {
                            margin: 0;
                        }
                    }

                    /** Spacing for first icon item */
                    &:nth-child(3) {
                        margin-left: 0.5rem;

                        @include media-breakpoint-down(md) {
                            margin-left: 0;
                        }
                    }

                    /** Kills padding on last menu item */
                    &:last-child {
                        a {
                            padding-right: 0;

                            @include media-breakpoint-down(md) {
                                padding-right: 0.5rem;
                            }
                        }
                    }

                    /** Adds hover for icons */
                    &.icon {
                        a {
                            @include color-transition;

                            color: $white;

                            &:hover {
                                @include color-transition;

                                color: $link_grey;

                                &::after {
                                    content: none;
                                }
                            }
                        }
                    }

                    /** Adds underline for current page */
                    &.current-menu-item {
                        &::after {
                            width: calc(100% - 1rem);
                        }
                    }
                }
            }
        }
    }
    

    /** If logged in */
    body.logged-in & {
        margin-top: 32px;

        @include media-breakpoint-down(wpmd) {
            margin-top: 46px;
        }
    }
}

/** Admin bar */
#wpadminbar {
    @include media-breakpoint-down(wpmd) {
        position: fixed;
    }

    a {
        &:hover {
            &::after {
                content: none;
            }
        }
    }
}

