/** HTML styles */
html {
    /** Base font size */
    font-size: 18px;
    letter-spacing: 0;

    /** Body styles */
    body {
        @include main-font;
        @include light-font;
        @include text_size_18;
        @include main-bg;

        @include media-breakpoint-up(xxxl) {
            @include text_size_24;
        }

        h1,h2,h3,h4,h5,h6 {
            @include main-font;
            @include light-font;
            @include headings;
            
            margin-bottom: 0;
        }

        a {
            &:not(.button) {
                color: $white;
                text-decoration: none;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: $white;
                    transition: 0.2s width ease-in-out;
                }
            
                &:hover {
                    &::after {
                        width: 100%;
                        transition: 0.2s width ease-in-out;
                    }
                }
            }
        }
    }
}

/** Global page styles */
#main {
    @include main-font;
    @include light-font;

    margin-top: calc(110px);

    :not(.home) & {
        #page-header {
            @include headings;

            margin-bottom: 2rem;
    
            h1 {
                letter-spacing: 1rem;
            }
        }
    }
}
