/** Import Bootstrap */
@import 'bootstrap/scss/bootstrap';

/** Import common styles */
@import 'common/fonts';
@import 'common/typography';
@import 'common/variables';

/** Import components */
@import 'components/wp-classes';
@import 'components/lenis';
@import 'components/buttons';

/** Import layouts */
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/pages';

/** Import pages */
@import 'pages/01-home';
@import 'pages/02-booking';
@import 'pages/03-products';
