/** Import Bootstrap */
@import 'bootstrap/scss/bootstrap';

/** Import common styles */
@import 'common/fonts';
@import 'common/typography';
@import 'common/variables';

/** Import npm dependencies */
@import "~hamburgers/_sass/hamburgers/hamburgers";

/** Import components */
@import 'components/wp-classes';
@import 'components/lenis';
@import 'components/buttons';
@import '@fancyapps/ui/dist/fancybox/fancybox.css';
@import 'components/loader';

/** Import layouts */
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/pages';

/** Import pages */
@import 'pages/01-home';
@import 'pages/02-booking';
@import 'pages/03-products';
@import 'pages/04-other';
